@import 'variables';

.Home {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./coffee.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  &__header {
    margin: 0;
    color: $peach;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
  }
  &__text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

