@import "variables";

.NavBar {
  a {
    text-decoration: none;
    font-size: 130%;
    text-transform: uppercase;
    margin-top: 20px;
  }
  &__home {
    float: left;
    color: $peach;
    font-weight: 400;
  }
  &__main {
    float: right;
    margin-top: 20px;
    a {
      margin-left: 40px;
      color: $grey;
    }
  }
}